div{
    color: green;
    text-align: center;
}
.change{
    color: red;
}
#two{
    color: pink;
}
a{
    color: blue;
}
 li > a{
    color: pink;
}
 .main{
     color: green;
 }
 ul li ul li{
     list-style-type: none;
 }
.last li{
    list-style-type: square;
}
.last a{
    text-decoration: none;
}
h1 + p{
    font-size: 20px;
}
h3 + p > code{
    color: red;
}
p > code{
    color: pink;
}
code{
    white-space: pre;
font-family: Monospaced, monospace;
}
